@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.dcontainer {

    height: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;

}

.dcontainer h1 {
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem
}

.gallery {


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



}

.card {
    width: 23%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 0%;
    overflow: hidden;



}

.card img {
    width: 100%;
    height: 100%;
    /* filter: grayscale(100%); */
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.4s;
    filter: drop-shadow(0 0 10px #333);
}

/* .card:hover img {
    filter: grayscale(0%);
} */

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    height: 20%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    /* opacity: 0; */
    transition: 0.4s;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5)0%), rgba(255, 255, 255)
}

.card:hover figcaption {
    /* opacity: 1; */
    transform: scale(1.03);
}

/* SLIDING IMAGE */

#Slider {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 10px;
    background: #ced6ef;
}

.container {
    max-width: 1800px;
    width: 95%;
    /* border:2px solid gray; */
    border-radius: 10px;
    /* overflow: hidden; */

}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 18px; */
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    overflow: hidden;
    border-radius: 10px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 1800px;
    height: 600px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}